<!DOCTYPE html>
<html lang="en">
  <head>
    <title>AtSign Ecare | Report</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- FAVICON -->
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto+Slab:wght@400;500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap"
      rel="stylesheet"
    />
    <style>
      html,
      body {
        font-family: "Source Sans Pro", sans-serif;
      }
      .roboto-slab {
        font-family: "Roboto Slab", serif;
      }
    </style>
  </head>

  <body class="h-screen w-full p-5">
    <main
      class="
        border-2 border-yellow-500
        h-full
        w-full
        flex flex-col
        items-center
        px-4
        lg:px-8
        overflow-y-auto overflow-x-hidden
        pb-4
      "
    >
      <!-- Doctor's Section -->
      <div class="flex justify-center items-center h-full w-full">
        <h1>Data is expired. <br />Please ask patient to send another Link.</h1>
      </div>
    </main>
  </body>
</html>
